In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from csv import writer

In [ ]:
url = requests.get('https://www.jumia.co.ke/smartphones/?shipped_from=country_local#catalog-listing').text

In [ ]:
soup = BeautifulSoup(url, 'lxml')
smartphones = soup.find_all('article', class_ = 'prd _fb col c-prd')

In [ ]:
smartphones

In [7]:
for phone_item in smartphones:
    phone_title = phone_item.find("h3", class_="name")
    phone_price = phone_item.find("div", class_="prc")
    phone_old_price = phone_item.find("div", class_="old")
    phone_discount = phone_item.find("div", class_="bdg_dsct_sm")
    print(phone_title)
    print(phone_price)
    print(phone_old_price)
    print(phone_discount)

In [3]:
# we need to strip for whitespace

all_phones = []

for phone_item in smartphones:
    phone_title = phone_item.find("h3", class_="name")
    phone_price = phone_item.find("div", class_="prc")
    phone_old_price = phone_item.find("div", class_="old")
    print(phone_title.text.strip())
    print(phone_price.text.strip())
    print(phone_old_price.text.strip())
    all_phones.append((phone_title.text.strip(), phone_price.text.strip(), phone_old_price.text.strip()))

In [ ]:
all_phones

In [5]:
# into csv

df = pd.DataFrame(all_phones, columns=["phone_name", "price", "old_price"]) # Pass column names during DataFrame creation
#df.columns = ["phone_name", "price", "old_price"] # Remove this line
df.head()

Empty DataFrame
Columns: [phone_name, price, old_price]
Index: []

In [6]:
# the new_price should be old_price