In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from csv import writer

In [ ]:
url = requests.get('https://www.jumia.co.ke/smartphones/?shipped_from=country_local#catalog-listing').text

In [ ]:
soup = BeautifulSoup(url, 'lxml')
smartphones = soup.find_all('article', class_ = 'prd _fb col c-prd')

In [ ]:
smartphones

In [ ]:
for phone_item in smartphones:
    phone_title = phone_item.find("h3", class_="name")
    phone_price = phone_item.find("div", class_="prc")
    phone_old_price = phone_item.find("div", class_="old")
    phone_discount = phone_item.find("div", class_="bdg_dsct_sm")
    print(phone_title)
    print(phone_price)
    print(phone_old_price)
    print(phone_discount)

NameError: ignored

In [ ]:
# we need to strip for whitespace

all_phones = []

for phone_item in smartphones:
    phone_title = phone_item.find("h3", class_="name")
    phone_price = phone_item.find("div", class_="prc")
    phone_old_price = phone_item.find("div", class_="old")
    print(phone_title.text.strip())
    print(phone_price.text.strip())
    print(phone_old_price.text.strip())
    all_phones.append((phone_title.text.strip(), phone_price.text.strip(), phone_old_price.text.strip()))

Infinix Smart 6, 6.6", 2GB RAM, 32GB, 5000mAh,Polar Black
KSh 10,299
KSh 13,053
Tecno Pop 6 6.1", 2GB RAM+32GB, 8MP, 4G (Dual Sim) 5000MAh -Lime Green
KSh 8,819
KSh 13,499
Infinix Smart 6, 6.6", 32GB + 2GB RAM (Dual SIM), 5000mAh, Quartz Cyan
KSh 10,696
KSh 18,999
XIAOMI Redmi 9A, 6.53", 2GB+32GB, 13.0MP, 5000mAh, 4G LTE, Dual SIM - Grey
KSh 11,499
KSh 12,499
XIAOMI Redmi 10A, 6.53", 3GB+64GB, 13.0MP, 5000mAh, 4G LTE, Dual SIM - Graphite Grey
KSh 14,799
KSh 16,199
Oppo A16k, 6.52", 32GB + 3GB RAM (Dual SIM), 4230mAh - Blue
KSh 14,278
KSh 17,999
Nokia C1 2nd Edition, 5.45", 1GB +16GB - (DUAL SIM),Android 11, Blue
KSh 7,139
KSh 10,999
XIAOMI Redmi 10 6.5'' Inches 4+128GB 50MP Rear Camera 4G Smartphone - Grey
KSh 18,799
KSh 24,049
Samsung Galaxy A13, 6.6", 64GB + 4GB RAM (Dual SIM), 5000mAh, Black
KSh 19,299
KSh 24,521
Oppo A83 64GB + 4GB RAM - 4G LTE Dual SIM -  5.7-inch,Red
KSh 9,990
KSh 19,980
Tecno Pova Neo, 6.8", 64GB+ 4GB (Dual SIM),4G LTE, 6000mAh, Obsidian Black
KSh 15,999
KSh 20,129
Tecno Pop 6 GO, 6", 32GB + 2GB RAM ,(Dual SIM), 4000mAh,  + CLASSIC GIFTS
KSh 9,445
KSh 11,199
Samsung Galaxy A13, 6.6", 64GB + 4GB RAM (Dual SIM), 5000mAh, Blue
KSh 19,299
KSh 24,521
Samsung Galaxy A03s – 6.5″ – 32GB + 3GB – Dual SIM - Black
KSh 13,699
KSh 17,384
Samsung Galaxy A13, 6.6", 128GB + 4GB RAM (Dual SIM), 5000mAh, Black
KSh 21,699
KSh 27,571
Samsung Galaxy A03 Core, 6.5" 32GB + 2G, 5000mAh,Dual Sim- (Black) Onyx
KSh 11,699
KSh 14,858
Oppo A83 64GB + 4GB RAM - 4G LTE Dual SIM -  5.7-inch,Black
KSh 9,790
KSh 19,980
XIAOMI Redmi 9C 6.53'', 4GB+128GB, 13MP+2MP+2MP Camera, 4G, Dual SIM - Lavender Purple
KSh 16,299
KSh 21,999
Tecno CAMON 19, 6.8", 128GB+ 4GB (Dual SIM), (4G LTE) 5000mAh, Eco Black
KSh 22,399
KSh 23,999
Tecno CAMON 19, 6.8", 128GB+ 4GB (Dual SIM), (4G LTE) 5000mAh, Eco Black
KSh 22,599
KSh 27,999
Samsung Galaxy A23, 6.6″, 64GB + 4GB RAM (Dual SIM), 5000mAh, Blue
KSh 22,499
KSh 28,669
Tecno CAMON 19, 6.8", 128GB+ 4GB (Dual SIM), (4G LTE) 5000mAh, MEMPHIS GREEN
KSh 22,750
KSh 29,999
Samsung Galaxy A03 6.5" 3GB RAM+32GB ROM 48 MP //Dual SIM-Blue+FREE EARBUDS+C+W
KSh 13,990
KSh 17,999
Itel A58 Lite, 6.3", 32GB + 2GB RAM (Dual SIM), 4000mAh, Blue Wave
KSh 8,255
KSh 8,999
Infinix Smart 6, 6.6", 2GB RAM, 32GB, Android 10, XOS 7.6, 5000mAh, 3G - Ocean Wave
KSh 10,695
KSh 15,999
Itel A14 Plus, 4", 8GB + 1GB RAM, 2500mAh - Blue
KSh 4,443
KSh 4,999
Oppo A16k, 6.52", 32GB + 3GB RAM (Dual SIM), 4230mAh - Black
KSh 14,278
KSh 17,999
Samsung Galaxy A03, 6.5", 64GB + 4GB RAM (Dual SIM), 5000mAh, Black
KSh 15,299
KSh 19,397
Infinix Smart 6, 6.6", 32GB + 2GB RAM (Dual SIM), 5000mAh +FREE GIFTS
KSh 11,100
KSh 11,499
Samsung Galaxy A03, 6.5", 64GB + 4GB RAM (Dual SIM), 5000mAh, Blue
KSh 15,299
KSh 19,397
XIAOMI Redmi 9A 6.53", 2GB RAM+32GB, 5000mAh, Dual SIM, 4G LTE - Glacial Blue
KSh 11,499
KSh 12,499
Tecno Spark 8C 6.6" 64GB+ 2GB RAM Dual Sim, Black + Smart Watch + P.Bank
KSh 13,898
KSh 25,898
Infinix HOT 12i, 6.6''{ 64GB+2GB Expandable To 4GBRAM} (Dual SIM), 4G LTE, 5000mAh,black
KSh 12,995
KSh 19,999
XIAOMI Redmi 10C 6.71'', 4GB+128GB, 50MP+2MP Camera, 4G, Dual SIM - Blue
KSh 19,099
KSh 21,999
Ulefone Note 6, 6.1", 32GB + 1GB RAM (Dual SIM), 3300mAh, Black
KSh 7,599
KSh 11,999
XIAOMI Redmi 10C 6.71'', 4GB+64GB, 50MP+2MP Camera, 4G, 5000MAH Battery Dual SIM- Blue
KSh 16,499
KSh 19,239
Itel A33 Plus,,5.0" Screen Display(16GB+1GB),Fingerprint,(Dual Sim) Blue,,w.s"
KSh 6,160
KSh 10,000
Tecno Spark 8C 6.6" 64GB ROM + 2GB RAM, Dual Sim, Purple
KSh 12,999
KSh 18,999
Samsung Galaxy A13, 6.6", 128GB + 4GB (Dual SIM), Blue + Smart Watch & Power Bank
KSh 22,997
KSh 32,999
Safaricom Neon Ray Pro 5.5''//1GB RAM+16GB ROM //4G //2500mAh -Black
KSh 4,690
KSh 8,000

In [ ]:
all_phones

In [ ]:
# into csv

df = pd.DataFrame(all_phones)
df.columns = ["phone_name", "price", "old_price"]
df.head()

                                          phone_name       price   new_price
0  Infinix Smart 6, 6.6", 2GB RAM, 32GB, 5000mAh,...  KSh 10,299  KSh 13,053
1  Tecno Pop 6 6.1", 2GB RAM+32GB, 8MP, 4G (Dual ...   KSh 8,819  KSh 13,499
2  Infinix Smart 6, 6.6", 32GB + 2GB RAM (Dual SI...  KSh 10,696  KSh 18,999
3  XIAOMI Redmi 9A, 6.53", 2GB+32GB, 13.0MP, 5000...  KSh 11,499  KSh 12,499
4  XIAOMI Redmi 10A, 6.53", 3GB+64GB, 13.0MP, 500...  KSh 14,799  KSh 16,199

In [ ]:
# the new_price should be old_price